/* Message container */
.message {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    margin-bottom: 8px;
    width: 90%; /* Adjusted to fit within container */
    background-color: #f9f9f9; /* Background color for messages */
    align-items: flex-start;
}

/* User message specific styles */
.user-message {
    color: #000000F5;
    align-self: flex-start; /* Changed to flex-end for right alignment */
}

/* Bot message specific styles */
.bot-message {
    color: #000000F5;
    align-self: flex-start; /* Align to the left */
    background-color: #ffffff; /* Background color for bot messages */
}

/* Message label */
.message-label {
    font-weight: bold;
    margin-bottom: 4px;
}

/* Separator line */
.human-message-separator {
    background-color: #dcf8c6; /* Green line separator */
    margin: 8px 0;
    height: 2px;
    width: 100%;
}

/* Separator line */
.bot-message-separator {
    background-color: #007bff; /* Green line separator */
    margin: 8px 0;
    height: 2px;
    width: 100%;
}

/* Message text */
.message-text {
    word-wrap: break-word;
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    text-align: left;
}
